# DeltaCAT dependencies
# This file is the single source of truth for dependencies.
# setup.py automatically reads this file for install_requires.
# Additional development dependencies are listed below.

# AWS
aws-embedded-metrics ==3.3.0
boto3 ~=1.40.21

# General
daft ==0.5.22
duckdb >= 1.1.0
databricks-sdk >= 0.18.0
deltalake >= 0.15.0
gcsfs == 2025.3.2

# GCP
google-cloud-storage

intervaltree == 3.1.0
msgpack ~= 1.0.7

numpy >= 1.26.0
pandas ==2.3.2
polars ==1.33.0

# upgrade to pyarrow 18.0.0 causes test
# TestCompactionSession::test_compact_partition_when_incremental_then_rcf_stats_accurate to fail
# due to input_inflation exceeding 1e-5


pyarrow ==21.0.0
pydantic!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,<3

# Extra: deltacat[iceberg]
pyiceberg[glue] ==0.9.1

pymemcache == 4.0.0
ray[default] == 2.46.0
redis == 5.0.0

# Extra: deltacat[s3fs]
s3fs == 2025.3.2
schedule == 1.2.0
tenacity == 8.2.3
typing-extensions == 4.6.1

# Development dependencies
databricks-sdk >= 0.18.0
deltalake >= 0.15.0
pytest >= 7.0.0
sqlalchemy ==2.0.43
pyspark >= 3.5.1